<!-- 顶部栏 -->
<!DOCTYPE HTML>
<html>
<head>
    <title>登录注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/login.css" rel='stylesheet' type='text/css' />
    <link href="css/common.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/jquery.Jcrop.css">
    <link href="css/style.css" rel='stylesheet' type='text/css' />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <!--<script src="js/jquery.zlight.menu.1.0.min.js"></script>-->
    <script src="js/underscore-noflect.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=33823c697fdbbaafbf5a19a1c7c8f488"></script>
</head>
<body>
<div class="header">
    <div class="header_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="title" style="margin-bottom: 35px">博客系统--修改密码</div>
                </div>
                <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-1">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 顶部栏--end -->
<div class="container container_padding_top">
    <div class="row col-lg-offset-4 col-lg-5 col-md-offset-4 col-md-5 login_table">
        <div class="login_tcon">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputPassword1">原密码：</label>
                    <input type="password" class="form-control" id="oldPassword" value="<%=password%>"  placeholder="原密码">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">新密码：</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">确认新密码：</label>
                    <input type="password" class="form-control" id="newPasswordTwo" placeholder="请确认新密码">
                </div>
                <button type="button" id="modifyBtn" style="padding:8px 15px;background-color: #009a61; color:#fff;" class="btn btn-default">确认修改</button>
                <a href="/manage" class="pull-right" style="background-color: #009a61">
                    <button type="button"  id="quitBtn" style="padding:8px 15px;background-color: #f74b1b; color:#fff;" class="btn btn-default">取消</button>
                </a>
            </form>
            <div class="alert alert-danger errorTip" role="alert" id="errorTip"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("input").focus(function(){
        $("#errorTip").fadeOut();
    });
    //修改密码按钮事件，用ajax提交表单
    $("#modifyBtn").click(function(){
        $.post("/doModifyPassword",{
            "newPassword" : $("#newPassword").val(),
            "newPasswordTwo" : $("#newPasswordTwo").val()
        },function(result){
            if(result == "1"){
                //修改成功
                alert("修改成功！将自动跳转到后台管理页面");
                window.location = "/manage";
            }else if(result == "-1"){
                $("#errorTip").fadeIn();
                $("#errorTip").html("输入新密码不能为空");
            }else if(result == "-2"){
                $("#errorTip").fadeIn();
                $("#errorTip").html("2次密码输入不一致");
            }
        });
    });
</script>

<!-- 底部栏 -->
<% include footer %>