<%- include b_header %>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12"><h3 class="m-t-none m-b">写博客</h3>
                            <form role="form" class="form-horizontal pull-left">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">文章标题：</label>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="请输入文章标题" class="form-control" id="topic" name="topic">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">发布者：</label>
                                    <div class="col-sm-6">
                                        <input type="text" value="<%=username%>" disabled class="form-control" id="publisher" name="publisher">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">博客类别：</label>
                                    <div class="col-sm-6">
                                        <select class="form-control m-b" id="classify" name="classify">
                                            <option value="KF">JavaScript</option>
                                            <option value="QP">NodeJS</option>
                                            <option value="CY">Environment</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">博客内容：</label>
                                    <div class="col-sm-6">
                                        <script id="editor" name="editor" type="text/plain" style="width:800px;height:500px;"></script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input class="col-sm-offset-5 col-sm-1 btn btn-primary" id="submit" type="button" value="添加">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- Ueditor开始 -->
<script type="text/javascript" charset="utf-8" src="libs/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="libs/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="libs/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    function getContent() {
        var arr = UE.getEditor('editor').getContent();
        alert(arr);
        console.log(typeof arr);
    }

    $(document).ready(function () {
        $("#submit").click(function () {
            var content = UE.getEditor('editor').getContent();
            var classify= $('#classify').find("option:selected").text();
            $.post("/doRecording", {
                "topic" : $("#topic").val(),
                "publisher" : $("#publisher").val(),
                "classify" : classify,
                "content" : content
            }, function (result) {
                if(result == 1){
                    alert("添加文章成功！将刷新该页面");
                    window.location = "/manage";
                }else if(result == -1){
                    alert("服务器错误！请检查服务器");
                }else{
                    alert("未知原因，添加文章失败！");
                }
            });
        });
    });
</script>

<%- include b_footer %>