<!DOCTYPE HTML>
<html>
<head>
    <title>登录注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/login.css" rel='stylesheet' type='text/css' />
    <link href="css/common.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/jquery.Jcrop.css">
    <link href="css/style.css" rel='stylesheet' type='text/css' />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <!--<script src="js/jquery.zlight.menu.1.0.min.js"></script>-->
    <script src="js/underscore-noflect.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=33823c697fdbbaafbf5a19a1c7c8f488"></script>
</head>
<body>
<div class="header">
    <div class="header_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="title">欢迎来到博客交流平台</div>
                </div>
                <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-1">
                    <form class="register-form clearfix">
                        <a href="/regist" class="SFLogin btn btn-lg btn-primary mr15">免费注册</a>
                        <a href="/login" class="SFRegister btn btn-lg btn-primary">立即登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
